.card{
  margin: 1em;
  padding: 2em;
}
.navbar{
    background-color:blue; 
    font-size: 2em;
    color: white;
}
.navbar h1{
   margin-left:1em ;
}
.field{
  display: inline-block;
  padding: 1em;
  margin: 1.5em; 
}
.field .input{
  width: 40em;
}
.buttons{
  display: inline-block;
}

.field .n .input{
  width: 5.5em;
}